<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>com.yebob.sns.web</display-name>
  <welcome-file-list>
    <welcome-file>default</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.yebob.com/yebob-taglib</taglib-uri>
      <taglib-location>/WEB-INF/yebob-taglib.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.yebob.com/yebob-taglib/functions</taglib-uri>
      <taglib-location>/WEB-INF/yebob-functions.tld</taglib-location>
    </taglib>
  </jsp-config>
  <context-param>
    <param-name>appUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.sns.web</param-value>
  </context-param>
  <context-param>
    <param-name>photoAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.sns.photo.web</param-value>
  </context-param>
  <context-param>
    <param-name>loginUrl</param-name>
    <param-value>http://www.yebob.com/accounts/Login</param-value>
  </context-param>
  <context-param>
    <param-name>registerUrl</param-name>
    <param-value>http://www.yebob.com/accounts/Register</param-value>
  </context-param>
  <context-param>
    <param-name>logoutUrl</param-name>
    <param-value>http://www.yebob.com/accounts/Logout</param-value>
  </context-param>
  <context-param>
    <param-name>accountsAppUrl</param-name>
    <param-value>http://www.yebob.com/accounts</param-value>
  </context-param>
  <context-param>
    <param-name>accountsPhotoAppUrl</param-name>
    <param-value>http://www.yebob.com/accounts-photo</param-value>
  </context-param>
  <context-param>
    <param-name>appAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.app.web</param-value>
  </context-param>
  <context-param>
    <param-name>appPhotoAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.pi.photo.web</param-value>
  </context-param>
  <context-param>
    <param-name>gameAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.game.web</param-value>
  </context-param>
  <context-param>
    <param-name>groupAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.group.web</param-value>
  </context-param>
  <context-param>
    <param-name>groupPhotoAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.group.photo.web</param-value>
  </context-param>
  <context-param>
    <param-name>wwwAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.sns.web</param-value>
  </context-param>
  <context-param>
    <param-name>snsAppUrl</param-name>
    <param-value>http://test.yebob.com/com.yebob.sns.web</param-value>
  </context-param>
  <context-param>
    <param-name>userCtrlPortUrl</param-name>
    <param-value>http://www.yebob.com:9080/axis2/services/UserCtrl</param-value>
  </context-param>
  <listener>
    <listener-class>com.yebob.sns.web.listener.ContextListener</listener-class>
  </listener>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.yebob.sns.web.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LastFilter</display-name>
    <filter-name>LastFilter</filter-name>
    <filter-class>com.yebob.sns.web.filter.LastFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LastFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Default</display-name>
    <servlet-name>Default</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Default</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Default</servlet-name>
    <url-pattern>/default</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Follow</display-name>
    <servlet-name>Follow</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.Follow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Follow</servlet-name>
    <url-pattern>/json/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unfollow</display-name>
    <servlet-name>Unfollow</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.Unfollow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unfollow</servlet-name>
    <url-pattern>/json/unfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>People</display-name>
    <servlet-name>People</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.People</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>People</servlet-name>
    <url-pattern>/people/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserSign</display-name>
    <servlet-name>ModifyUserSign</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.ModifyUserSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserSign</servlet-name>
    <url-pattern>/json/modify-user-sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyUserIntro</display-name>
    <servlet-name>ModifyUserIntro</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.ModifyUserIntro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserIntro</servlet-name>
    <url-pattern>/json/modify-user-intro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resist</display-name>
    <servlet-name>Resist</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.Resist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resist</servlet-name>
    <url-pattern>/json/resist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlackList</display-name>
    <servlet-name>BlackList</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.BlackList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlackList</servlet-name>
    <url-pattern>/blacklist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactList</display-name>
    <servlet-name>ContactList</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.ContactList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactList</servlet-name>
    <url-pattern>/contact-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unresist</display-name>
    <servlet-name>Unresist</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Unresist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unresist</servlet-name>
    <url-pattern>/unresist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recommends</display-name>
    <servlet-name>Recommends</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Recommends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommends</servlet-name>
    <url-pattern>/recommends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Broadcasts</display-name>
    <servlet-name>Broadcasts</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Broadcasts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Broadcasts</servlet-name>
    <url-pattern>/broadcasts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Say</display-name>
    <servlet-name>Say</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.Say</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Say</servlet-name>
    <url-pattern>/json/say</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceivedBcs</display-name>
    <servlet-name>ReceivedBcs</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.ReceivedBcs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceivedBcs</servlet-name>
    <url-pattern>/json/received-bcs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonBroadcasts</display-name>
    <servlet-name>JsonBroadcasts</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.Broadcasts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonBroadcasts</servlet-name>
    <url-pattern>/json/broadcasts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadifyUpload</display-name>
    <servlet-name>UploadifyUpload</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.UploadifyUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadifyUpload</servlet-name>
    <url-pattern>/uploadify-upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValumsUpload</display-name>
    <servlet-name>ValumsUpload</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.ValumsUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValumsUpload</servlet-name>
    <url-pattern>/valums-upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonBcReplyService</display-name>
    <servlet-name>JsonBcReplyService</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.json.BcReplyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonBcReplyService</servlet-name>
    <url-pattern>/json/bc-reply-service</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Articles</display-name>
    <servlet-name>Articles</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posts</display-name>
    <servlet-name>Posts</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Posts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posts</servlet-name>
    <url-pattern>/posts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Downloads</display-name>
    <servlet-name>Downloads</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Downloads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloads</servlet-name>
    <url-pattern>/downloads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.yebob.sns.web.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>
